.container-fluid {
    padding-top: 20px;
}

.glyphicon {
    padding: 0px;
    margin: 0px;
    position: static;
}

.requestRow:hover {
    background: #e8f0f8 !important;
}


.panel-body {    border: 1px solid lightgray;
    background: #e8f0f8;
}

    .panel-body * {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .panel-body h4 {
        background-color: #5bc9f1;
        border-radius: 3px;
        text-align: center;
        font-weight: bold;
    }

.requestRow {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    background-color: white;
    max-height: 70px;
}

    .requestRow > * {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        /*border: 1px solid lightgray;*/
    }

.request-table-headers {
    margin: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: bold;
    background-color: #5bc9f1;
}

.request-table-headers > * {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.panel-body div.row *, .requestRow * {
    overflow-wrap: break-word;
}

.panel-body div.row textarea {
    background-color: white;
    border-radius: 3px;
    padding-bottom: 0px;
    min-height: 20px;
    min-width: 70%;
    resize: none;
    overflow: auto;
    padding: 1%;
}

.requestRow textarea {
    background-color: inherit;
    border: none;
    resize: none;
    padding: 0.25%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    max-height: 40px;
    overflow: hidden;
}

.request-table-headers span a:visited, .request-table-headers span a:link,
.request-table-headers span a:visited, .request-table-headers span a:link {
    color: black;
    text-decoration: none;
}