@{
    ViewBag.Title = "Request Queue";
}

﻿@section scripts {
    @Scripts.Render("~/bundles/app")
}

<head>
    <link rel="stylesheet" type="text/css" href="../Content/CompletedRequests.css" />
    @*<script src />*@
</head>

<body>
    <div class="container-fluid">

        <!-- Table headers -->
        <div class="row request-table-headers">
            <span class="col-md-2">
                <span class="dropdown">
                    <a id="DateRequestedDropdown" href="#" data-toggle="dropdown" class="glyphicon glyphicon-filter dropdown-toggle"></a>
                    <span class="dropdown-menu" aria-labelledby="DateRequestedDropdown">
                        From: <input data-bind="value: $root.filters.dateRequested.from" type="date" /> <br />
                        To: <input data-bind="value: $root.filters.dateRequested.to" type="date" />
                    </span>
                </span>
                Date Requested
                <a data-bind="event: {click: function(data) { $root.sort($element, data, DateRequestedComparatorA, DateRequestedComparatorD); } }" href="#">
                    <span class="glyphicon glyphicon-sort"></span>
                </a>
            </span>

            <span class="col-md-2">
                <span class="dropdown">
                    <a id="DateWantedDropdown" href="#" data-toggle="dropdown" class="glyphicon glyphicon-filter dropdown-toggle"></a>
                    <span class="dropdown-menu" aria-labelledby="DateWantedDropdown">
                        From: <input data-bind="value: $root.filters.dateWanted.from" type="date" /> <br />
                        To: <input data-bind="value: $root.filters.dateWanted.to" type="date" />
                    </span>
                </span>
                Date Wanted
                <a data-bind="event: {click: function(data) { $root.sort($element, data, DateWantedComparatorA, DateWantedComparatorD); } }" href="#">
                    <span class="glyphicon glyphicon-sort"></span>
                </a>
            </span>

            <span class="col-md-2">
                <span class="dropdown">
                    <a id="PriorityDropdown" href="#" data-toggle="dropdown" class="glyphicon glyphicon-filter dropdown-toggle"></a>
                    <span class="dropdown-menu" aria-labelledby="StatusDropdown" data-bind="foreach: $root.priorities">
                        <span data-bind="text: $data"></span>
                        <input type="checkbox" class="dropdown-item"
                               data-bind="event: { change: function(data) { if($element.checked) { $root.filters.priority.push($data); } else { $root.filters.priority.remove($data); } } }">
                        <br />
                    </span>
                </span>
                Priority
                <a data-bind="event: {click: function(data) { $root.sort($element, data, PriorityComparatorA, PriorityComparatorD); } }" href="#">
                    <span class="glyphicon glyphicon-sort"></span>
                </a>
            </span>

            <span class="col-md-2">
                <span class="dropdown">
                    <a id="RequesterDropdown" href="#" data-toggle="dropdown" class="glyphicon glyphicon-filter dropdown-toggle"></a>
                    <span class="dropdown-menu" aria-labelledby="RequesterDropdown">
                        Add Requester: <input type="text" />
                        <button data-bind="click: $root.addRequesterFilter">Add</button><br /><br />
                        Current Filters:
                        <ul data-bind="foreach: $root.filters.requester">
                            <li>
                                <span data-bind="text: $data"></span>
                                <button data-bind="click: function() { $root.filters.requester.remove($($element).prev().text()); }" class="glyphicon glyphicon-remove"></button>
                            </li>
                        </ul>
                    </span>
                </span>

                Requester
                <a data-bind="event: {click: function(data) { $root.sort($element, data, RequesterComparatorA, RequesterComparatorD); } }" href="#">
                    <span class="glyphicon glyphicon-sort"></span>
                </a>
            </span>
            <span class="col-md-2">
                <span class="dropdown">
                    <a id="StatusDropdown" href="#" data-toggle="dropdown" class="glyphicon glyphicon-filter dropdown-toggle"></a>
                    <span class="dropdown-menu" aria-labelledby="StatusDropdown" data-bind="foreach: $root.queueStatuses">
                        <span data-bind="text: $data"></span>
                        <input type="checkbox" class="dropdown-item"
                               data-bind="event: { change: function(data) { if($element.checked) { $root.filters.status.push($data); } else { $root.filters.status.remove($data); } } }">
                        <br />
                    </span>
                </span>
                Status
                <a data-bind="event: {click: function(data) { $root.sort($element, data, StatusComparatorA, StatusComparatorD); } }" href="#">
                    <span class="glyphicon glyphicon-sort"></span>
                </a>
            </span>

            <span class="col-md-2">
                Description
            </span>
        </div>
        <!-- Table headers end-->

        <div class="panel-group" data-bind="foreach: $root.requests">
            <div" data-bind="if: $data.CompletionStatus !== 'Complete' && $root.matchesFilters($data)">
                <div class="panel panel-default requestRow panel-heading collapsed row" data-toggle="collapse" aria-expanded="false" aria-controls="collapse"
                     data-bind="attr: {'data-target' : ('#collapse' + $data.Id) }, style: { 'background-color': $data.CompletionStatus === 'Ticket Pending' ? '#f2e74a' : 'white' }">

                    <span class="col-md-2" data-bind="text: $data.DateRequested.substring(0, 10)"></span>
                    <span class="col-md-2" data-bind="text: $data.DateWanted.substring(0, 10)"></span>
                    <span class="col-md-2" data-bind="text: $data.PriorityLevel"></span>
                    <span class="col-md-2" data-bind="text: $data.RequesterName"></span>
                    <span class="col-md-2" data-bind="text: $data.CompletionStatus"></span>
                    <textarea class="col-md-2" data-bind="text: $data.Description" readonly></textarea>
                </div>

                <!-- COLLAPSABLE INFO -->
                <div class="collapse" data-bind="attr: { id: ('collapse' + $data.Id) }">
                    <div class="panel-body">
                        <h4>Requested Information</h4>

                        <div class="row">
                            <strong class="col-md-3">Date Requested:</strong>
                            <span class="col-md-3" data-bind="text:  $data.DateRequested.substring(0, 10)"></span>

                            <strong class="col-md-3">Date Wanted By:</strong>
                            <input class="col-md-3 panel editable" type="date" data-bind="value:  $data.DateWanted.substring(0, 10)" readonly>
                        </div>

                        <div class="row">
                            <strong class="col-md-3">Requester Name:</strong>
                            <input class="col-md-3 panel editable" data-bind="value: $data.RequesterName" readonly>

                            <strong class="col-md-3">Number of Requests: </strong>
                            <input class="col-md-3 panel editable" data-bind="value: $data.NumberRequests" readonly>
                        </div>

                        <div class="row">
                            <strong class="col-md-3">Format: </strong>
                            <select class="col-md-3 panel selector" data-bind="optionsCaption: $data.Format, value: $data.Format" disabled>
                                <option value="Excel">Excel</option>
                                <option value="Visualization (chart)">Visualization (chart)</option>
                                <option value="CFV">CFV</option>
                                <option data-bind="value: $data.Format, text: $data.Format"></option>
                                <option value="Other">Other</option>
                            </select>

                            <strong class="col-md-3">Priority Level: </strong>
                            <select class="col-md-3 panel selector" data-bind="value: $data.PriorityLevel, optionsCaption: $data.PriorityLevel" disabled>
                                <option value="Critical">Critical</option>
                                <option value="Important">Important</option>
                                <option value="Normal">Normal</option>
                                <option value="Low">Low</option>
                            </select>
                        </div>

                        <div class="row">
                            <strong class="col-md-3">Request(s): </strong>
                            <textarea class="editable" data-bind="value: $data.Requests" readonly></textarea>
                        </div>

                        <div class="row">
                            <strong class="col-md-3">Description: </strong>
                            <textarea class="col-md-8 editable" data-bind="value: $data.Description" readonly></textarea>
                        </div>

                        <div class="row">
                            <strong class="col-md-3">Additional Comments: </strong>
                            <textarea class="col-md-8 editable" data-bind="value: $data.RequestComments" readonly></textarea>
                        </div>

                        <h4>Developer Notes</h4>

                        <div class="row">
                            <strong class="col-md-3">Data Pulled By: </strong>
                            <input class="col-md-3 panel editable" data-bind="value: $data.DataPulledBy" readonly>

                            <strong class="col-md-3">Date Pulled: </strong>
                            <input class="col-md-3 panel editable" type="date" data-bind="value:  $data.DatePulled.substring(0, 10)" readonly>
                        </div>

                        <div class="row">
                            <strong class="col-md-3">File Attached: </strong>
                            @*<a class="col-md-3" data-bind="attr: {href: $data.FileURL}, value: $data.FileName"></a>*@
                            @*<input class="col-md-3 editable" id="selectFile" accept="*" required="" type="file" multiple="" data-bind="attr: {href: $data.FileURLs}, value: $data.FileNames" readonly>*@
                            <form class="fileInfo">
                                <div>
                                    <input class="span3" type="file" id="attachedFiles" style="display: none"/>
                                    <input class="btn span3" id="selectFile" type="button" onclick="$('#attachedFiles').click();" value="Upload" >
                                    <input class="btn span3" type="button" data-bind="click: $root.addFile">
                                    <ul data-bind="foreach: $data.">
                                        @*@foreach(link)
                                        {

                                        }*@
                                    </ul>

                                </div>
                            </form>

                            @*<input id="myInput" type="file" style="visibility:hidden" />
                            <input class="span3" type="button" value="Show Dialog" onclick="$('#myInput').click();" />*@

                            <strong class="col-md-3">SQL Queries: </strong>
                            <input class="col-md-3 panel editable" data-bind="value: $data.SQLQueries" readonly>
                        </div>

                        <div class="row">
                            <strong class="col-md-3">Completion Status: </strong>
                            <select class="col-md-3 panel selector" data-bind="value: $data.CompletionStatus, optionsCaption: $data.CompletionStatus" disabled>
                                <option value="Started">Started</option>
                                <option value="In-Progress">In-Progress</option>
                                <option value="Complete">Complete</option>
                                <option value="Declined">Declined</option>
                            </select>

                            <strong class="col-md-3">Ticket: </strong>
                            <a class="col-md-1" data-bind="attr: {href: $data.TicketURL}, value: $data.TicketNumber"></a>
                        </div>

                        <div class="row">
                            <strong class="col-md-3">Reason(s) for Incompletion, if applicable: </strong>
                            <textarea class="col-md-8 editable" data-bind="value: $data.UncompletionReason" readonly></textarea>
                        </div>

                        <div class="row">
                            <strong class="col-md-3">Developer Comments: </strong>
                            <textarea class="col-md-8 editable" data-bind="value: $data.DevComments" readonly></textarea>
                        </div>
                        <button class="btn" id="editor" data-bind="click: $root.edit">Edit</button>
                        <button class="btn" id="saveEdits" data-bind="click: $root.saveEdit">Save</button>
                    </div> 
    
                </div>
                <!-- COLLAPSIBLE INFO END -->
            </div">


        </div>
    </div>
</body>
